*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    margin: 0%;
    overflow-x: hidden;
}
.logo{
    position: absolute;
    margin-left: 3%;
    margin-top: .5%;
}
.titulo{

    color: rgb(255, 255, 255);
    font-size: 30px;
    position: absolute;
    margin-left: 13%;
}
.menu {
    position: relative;
}
.menu nav {
    display: block;
    background: rgba(29, 29, 29);
    overflow: hidden;
    padding: .7em;
}
.menu nav > a {
    font-size: 16px;
    float: right;
    color: rgb(255, 255, 255);
    padding: 20px;
    transition: background .7s;
    display: block;
    text-decoration: none;
    border-radius: 18px;
}
.menu nav > a:hover {
    background: rgba(0, 0, 0, 0.377);
}

/*botón*/
.menu .drop {
    color: #fff;
    padding: 2em;
    background: rgb(29, 29, 29);
    cursor: pointer;
    display: none; /*ocultamos el botón*/
}
.menu .drop svg {
    fill: rgb(255, 255, 255);
    vertical-align: middle;
}
@media only screen and (max-width: 768px) {
    .menu {background: rgb(29, 29, 29);}
    .menu .drop {display: inline-block;}/*volvemos a mostrar el botón*/
    .menu nav {/*ahora nuestro menú es una lista flotante*/
        position: absolute;
        z-index: 600;
        background: rgb(29, 29, 29);
        min-width: 20rem;
        display: none;
        top: 100%;left: 0;
    }
    .menu nav > a {/*y los ítems se alinean verticalmente*/
        float: none;
        border: 0 none;
    }
}

/*if => open*/
.menu nav.open {
    display: block;/*el menu aparece*/
}
.menu .drop.open {
    background: rgba(0,0,0,0.65);/*el boton cambia de color*/
}
 header{
    width: 100%;
    height: 400px;
    background-image: url(img/office-932926_1920.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
    text-align: center;
}
.titulo-cabecera{
    position: absolute;
    margin-top: 8%;
    margin-left: 35%;
    font-size: 30px;
    color: rgb(0, 0, 0);
    border: solid;
    border-radius: 8px;
}
body{
    margin: 0;
    overflow-x: hidden;
    background: #ffffff;
}
.texto1{
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}
.contacto .titulo-footer, .subtitulo-footer{
    margin-left: 9%;
}
footer {
    background: #494949;
    color: #fff;
    height: 30px;
    text-align: center;
    margin-bottom: 0%;
}
/*.face{
    position: absolute;
    margin-left: 30%;
    margin-top: 2%;
}
.insta{
    position: absolute;
    margin-left: 50%;
    margin-top: 2%;
}
.you{
    position: absolute;
    margin-left: 70%;
    margin-top: 2%;
}*/
#botonSubir {
    bottom:0px;

    margin-right:20px;
    padding:10px;
    position:fixed;
    right:0px;
    -moz-border-top-left-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    cursor:pointer;
}


@media screen and (max-width: 500px){
    .titulo{
        display: none;
    }
    .titulo-cabecera{
        margin-left: 10%;
        
    }
    header{
        height: 280px;
    }
    .texto1{
        margin-left: 10%;
        margin-right: 10%;
    }
}