*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'open sans';
    font-size: 18px;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 500px;
    background-image: url(img/1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
}
header .textos{
    margin-top:4%;
}
header .titulo{
    font-size: 85px;
}
header .subtitulos{
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 32px;
}
.boton{
    box-shadow: 1px 1px 1px gray;
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-left: 2%;
}
.boton:hover{
    background-color: rgba(228, 106, 106, 0.445);
	
}


.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0 52px 0;
}
#subtitulo2{
    color: rgb(37, 37, 37);
    text-align: left;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 10px;
}
.sobre-nosotros{
    color: rgb(37, 37, 37);
    text-align: left;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 40%;
}
.imagen img{
    margin-left: 13%;
    margin-top: 0%;
    border-radius: 20%;
}

.parrafo{
    height: 70%;
    margin-bottom: 2%;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(54, 54, 54);
    width: 60%;
    
}
.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
    
}

.cards img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
}
/*.imagen img{
    border-radius: 10%;
    left: 60%;
    top: 90%;
    position: absolute;
    width: 400px;
    height: 320px;
    object-fit: cover;
}
.fondo {
    height: 900px;
    position: relative;
    background-image: url(img/fondo.jpg);
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    padding-top: 130px;
}*/
.fondo{
    background-color: rgb(0, 214, 198);
}
.clientes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    width: 100%;
    justify-content: space-between;
}

.cliente {
    width: 30%;
}

.cliente img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 20%;
}
.titulo-patrocinadores,
.subtitulo-patrocinadores {
    color: #000;
    text-align: center;
}
.titulo-patrocinadores {
    font-size: 56px;
    margin-top: 48px;
}

.subtitulo-patrocinadores {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 64px;
}
footer {
    background: #fff;
}
.nosotros{
    height: 20%;
    margin-top: 2%;
    margin-left: 10%;

}
.imagenes-logos{
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 2%;
}
.nosotros1, .nosotros2{
    font-size: 17px;
}
.pie-pagina{
    background: #353535;
    height: 10%;
    width: 100%;
    position: absolute;
}
.iconos{
    right: 10%;
    margin-top: 1%;
    
}
.derechos{
    font-size: 13px;
    margin-top: 3%;
    margin-left: 45%;
    color: #fff;
    position: absolute;
}

.titulo-footer,
.subtitulo-footer {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 56px;
}

.subtitulo-footer {
    font-size: 16px;
    margin-bottom: 64px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}
input[type="text"],
input[type="email"] {
    display: inline-block;
    width: 48%;
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'open sans';
    background: rgba(37, 37, 33, .7);
    margin-bottom: 16px;
    border-top: 5px solid rgba(37, 37, 33, .7);
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-top: 5px solid rgba(255, 255, 255, 0.7);
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    background: rgba(37, 37, 33, .7);
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'open sans';
    margin-bottom: 16px;
}

input[type="submit"] {
    display: inline-block;
    padding: 13px;
    border: none;
    color: #fff;
    background: rgba(37, 37, 33, .7);
    width: 96px;
}
/* Responsive */

@media screen and (max-width:900px) {
    .card {
        width: 48%;
    }
}

@media screen and (max-width:610px) {
    header .textos {
        margin-top: 130px;
    }

    header .titulo {
        font-size: 75px;
    }

    .none {
        display: none
    }

    .imagenes {
        flex-grow: 1;
    }

    .card {
        width: 90%;
    }

    .fondo {
        height: auto;
    }

    .especial {
        display: none;
    }

    .cliente {
        width: 90%;
        height: 200px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:380px) {
    header .textos {
        margin-top: 100px;
    }

    header .titulo {
        font-size: 65px;
    }

    header .subtitulo {
        font-size: 25px;
        margin-bottom: 32px;
    }

    .sobre-nosotros {
        font-size: 46px;
    }

    .slogan {
        font-size: 20px;
    }

    .titulo-patrocinadores {
        font-size: 46px;
    }

    .subtitulo-patrocinadores {
        font-size: 20px;
    }
}